* {
    margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
    font-family: scriptFont;
	src: url('fonts/Carolinea.woff') format('woff');
}

@font-face {
    font-family: sectionHeading;
    src: url('fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: headingFont;
    src: url('fonts/Raleway-Light.ttf');
}

@font-face {
    font-family: subheadFont;
    src: url('fonts/Muli-Regular.ttf');
}

@font-face {
    font-family: bodyFont;
    src: url('fonts/Muli-Light.ttf');
}

body {
    background-color: #FAF7F3;
    color: #4E3D30;
}

#scrollUp {
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background: #555;
    color: #fff;
    text-decoration: none;
    font-family: bodyFont;
    font-size: 10px;
    opacity: 0.5;
}

header {
    width: 100%;
    background-color: #DDCFC4;
    color: #FAF7F3;
    font-size: 65px;
    text-align: center;
    padding-top: .2em;
    font-family: scriptFont;
    font-weight: lighter;
    height: 145px;
}

header h1 {
    display: none;
}

header p {
    padding-top: .6em;
    margin: auto;
}

.hiddencontact {
    display: none;
}

figure {
    padding-left: .2em;
    float: left;
}

img {
    width: 130px;
    height: 130px;
    border-radius: 65px;
}

#experience {
    padding-bottom: 2em;
    border-bottom: 1px solid #DDCFC4;
}

.sectionheading {
    font-family: sectionHeading;
    padding-top: 1.5em;
    padding-left: 1em;
}

.jobs {
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: .5em;
}

.jobs h1 {
    padding-bottom: .5em;
    font-family: headingFont;
}

.jobs p {
    padding-bottom: .5em;
    font-family: bodyFont;
}

#education {
    background-color: #FAF7F3;
    padding-bottom: 2em;
    border-bottom: 1px solid #DDCFC4;
}

.school {
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: .5em;
}

.school h1 {
    padding-bottom: .5em;
    font-family: headingFont;
}

.school p {
    padding-bottom: .5em;
    font-family: bodyFont;
}

#skills {
    padding-right: 1.5em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid #DDCFC4;
}

#skills p {
    padding-top: .5em;
    padding-left: 1.5em;
    padding-bottom: .5em;
    font-family: bodyFont;
}

#software {
    padding-right: 1.5em;
    padding-bottom: 2.5em;
    border-bottom: 1px solid #DDCFC4;
}

#software ul {
    padding-top: .5em;
    padding-left: 2.5em;
}

#software li {
    font-family: bodyFont;
}

#contact {
    padding-right: 1.5em;
    padding-bottom: 2.5em;
}

#contact h1 {
    padding-bottom: .5em;
}

#contact p {
    padding-top: .5em;
    padding-left: 1.5em;
    padding-bottom: .5em;
    font-family: bodyFont;
}

#contact a {
    font-family: bodyFont;
    padding-top: .5em;
    padding-left: 1.5em;
    color: #4E3D30;
}

p.subhead {
    font-family: subheadFont;
    padding-bottom: .3em;
}

footer {
    background-color: #DDCFC4;
    height: 50px;
    font-family: bodyFont;
    text-align: center;
    margin-top: 2em;
    width: 100%;
    padding-top: 1.5em;
}

footer a {
    text-decoration: none;
    color: #FAF7F3;
}

/* for tablet */
@media screen and (min-width: 768px)  {
header {
    height: 150px;
    padding-top: .2em;
}

figure {
    padding-left: 1em;
}
 
header {
    font-size: 80px;
}
    
header p {
    margin-bottom: -.2em;
    padding-top: .2em;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

header ul {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
    
.hiddencontact {
    display: inline;
    font-family: subheadFont;
    font-size: 15px;
    margin-top: -2em;
    padding-right: 1.2em;
}

.hiddencontact a {
    color: #FAF7F3;
}
    
.block h1 {
    float: left;
    width: 20%;
    padding-right: 1em;
}

#experience {
    border-bottom: none;
}
    
article.jobs {
    float: right;
    width: 75%;
}

#education {
    border-bottom: none;
}

article.school {
    float: right;
    width: 75%;
}

.school h1 {
    width: 100%;
}
  
#skills {
    border-bottom: none;
}

#software {
    border-bottom: none;
}
    
#software ul {
    float: right;
    width: 75%;
}

.singlepara {
    float: right;
    width: 80.1%;
}

.singlepara a::after {
    content: '';
    clear: both;
    display: block;
}

footer {
    clear: both;
}

#wrapper {
    max-width: 900px;
    margin: auto;
}
}